@page "/auctions" 
@* acceso de la url *@
@using CurrieTechnologies.Razor.SweetAlert2;
@using SubastaMaestra.Models.DTOs.Auction
@using SubastaMaestra.WebSite.Services;

@inject SweetAlertService alerts;
@inject IAuctionService _auctionService; 

<h3>Subastas</h3>

<a class="btn btn-success btn-sm mb-3" href="bid">Subastar producto</a>

@if (auctionList == null)
{
    <div class="alert alert-info" role="alert">
        No hay subastas que mostrar.
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in auctionList)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvF9ah7jy4iHa74zZ7Lw6z0PF_9uwgpGAVMg&s" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Título: @item.Title</h5>
                            <p class="card-text">Fecha de fin: @item.FinishDate.ToShortDateString()</p>
                            <p class="card-text">Fecha de inicio: @item.StartDate.ToShortDateString()</p>
                            <p class="card-text">Estado: @item.State</p>
                            <a class="btn btn-primary btn-sm" href="auction/{id}">Ver más</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    
}

@* <table class="table">
    <thead>
    <tr>
        <th>Titulo</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Estado</th>
        <th>Acciones</th>

    </tr>
    </thead>
    <tbody>
        @if(auctionList == null)
        {
            <tr>
                <td colspan="5" align="center">
                    <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
                </td>
            </tr>
        }
        else
        {
            @foreach(var item in auctionList)
            {
                <tr>
                    <td >@item.Title</td>
                    <td >@item.FinishDate.ToShortDateString()</td>
                    <td>@item.FinishDate</td>
                    <td>@item.State</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="auction/{id}">Ver más</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table> *@

@code {
    List<AuctionDTO> auctionList = new List<AuctionDTO>();

    // metodo que se ejecuta al renderizar la pagina
    protected override async Task OnInitializedAsync()
    {
        auctionList = await _auctionService.GetAll();
    }

}
